
/* Background and font colors for mixins*/
$danger-bg-color: #f2dede;
$danger-font-color: #a94442;

$info-bg-color: #d9edf7;
$info-font-color: #31708f;

$success-bg-color: #dff0d8;
$success-font-color: #3c763d;

$warning-bg-color: #fcf8e3;
$warning-font-color: #8a6d3b;



