/* Styles to be extended */

.style-danger {
	background-color: $danger-bg-color;
	color: $danger-font-color;
}

.style-info {
	background-color: $info-bg-color;
	color: $info-font-color;
}

.style-success {
	background-color: $success-bg-color;
	color: $success-font-color;
}